<div id="header">
  <div id="title"><%= @store.name %></div>

  <div id="header_menu">
    <%= link_to "Home", root_path %>
    <%= link_to "Catalog", stores_store_catalog_path(@store) %>
    <%= link_to "Cart", stores_store_cart_path %>
  </div>
</div>


