Gemfile
Gemfile.lock
config/database.yml
.bundle
.project
.idea/
tmp/
db/*.sqlite3
*.log
*.gitkeep
log/
db/schema.rb
public/system
public/sitemap
public/assets
public/*
tmp/**/*
.DS_Store
doc/api
doc/app
public/feed/*
public/tmp
db/sphinx/*
config/development.sphinx.conf
config/tunnlr.yml
vendor/plugins/tunnlr_connector
*.sublime-project
*.*~
test/