*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Verdana", sans-serif;
  background-color: white;
}

a{
  text-decoration: none;
  font-family: "Courier New", sans-serif;
}

p{
  margin: 3px;
}

h1, h2, h3, h4, h5, h6{
  margin: 8px 3px;
}

label{
  font-size: 0.7em;
  padding: 5px;
}

#header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(7, 9, 113, 0.71);
}

#main {
  margin: auto;
  width: 800px;
  min-height: 400px;
  background-color: rgba(49, 149, 93, 0.63);
}
#content {
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: #b0b280 0px 0px 5px;
  width: 800px;
  min-height: 400px;
  background: white;
  padding: 20px 15px;
}

#footer {
  width: 100%;
  min-height: 70px;
  text-align: center;
  background: #bdcec7;
  font-size: 0.7em;
  line-height: 1em;
  padding: 3px;
}

.product_box{
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
  min-height: 100px;
}
img{
    width: 80px;
    margin-right: 5px;
    margin-bottom: 5px;
}
h3{
    font-size: 120%;
    font-family: sans-serif;
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 2px;
    color: #227;
}

.price{
    color: #44a;
    font-weight: bold;
    margin-right: 3em;
}


/* container holder */

.container_holder {
  background: #DDDDDD;
  border: 1px solid #DFDFDF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.298);
  margin-bottom: 20px;
  padding: 15px 30px 15px 15px;
}
.container_holder  .comment_remover{
    display: none;
    position: relative;
    width: 20px;
    top: 0px;
    float: right;
 }
.container_holder:hover .comment_remover{
    display: inline;
}
.container_holder:hover .comment_remover #comment_remove{
    cursor: pointer;
}

.container_holder .container_picture{
    background-color: white;
    padding: 4px;
    margin: 0;
}


.comment-info {
  width: 600px;
}

.comment-meta {
  color: #999999;
  font-size: 0.75em;
  margin: 0px 0px 3px;
  padding: 4px 0px;
  position: relative;
  top: -2px;
}

.comment-content{
  word-wrap: break-word;
}






