<% if object.errors.any? %>
    <div id="error_explanation">
      <h3>Failed to save</h3>
      <p>Please fix problems with the following fields:</p>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>