<% if object.errors.any? %>
    <div id="error_explanation">
      <h3><%= t(:failed_to_save) %></h3>
      <p><%= t(:please_fix_problem_with_the_following_fields) %>:</p>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>