<h3>
  Do you need any help?  You can type the question...
</h3>

<%= form_tag(:controller => "pages", :action => "help") do %>
  <%= label_tag "Your question" %>
  <%= text_area_tag :question %>
  <%= submit_tag "Ask the Question" %>
<% end %>
