<h3>
  Do you need any help? You can type here everything...
</h3>

<%= form_for @question do |f|%>
  <%= f.select :type, options_for_select(["Question", "Report a bug", "Other", "Feature request"])%>
  <%= f.text_area :content, :id => "question" %>
  <%= f.submit "Send message" %>
<% end %>
