<% if signed_in? %>
  <ul class="float_l">
    <li>Easy to use online store builder</li>
    <li>Fully customizable store design</li>
    <li>Secure shopping cart provided</li>
    <li>Ecommerce hosting included</li>
    <li>30,000+ stores run on ShopUp</li>
  </ul>
  <%= link_to "Create your stores now!", new_admin_store_path ,{:class => "big_green_button"} if current_user.stores.count  == 0%>
<% else %>
  <h1>Create your ecommerce store today with ShopUp</h1>
  <h3>ShopUp offers a complete ecommerce solution</h3>
  <p>ShopUp is a hosted ecommerce solution that allows you to set up and run your own online store.
  Pick an ecommerce website template, list your products, accept credit card orders, and ship your goods — all with a
  few clicks of the mouse.
  With ShopUp it's easy to sell online and there's no software to download or maintain.</p>
<% end %>
<div class="cleaner"></div>
<% @opened_stores.each do |store|%>
  <a class="home_store_box" href="<%= store_catalog_path(store) %>" target="_blank"><%= store.name %></a>
<% end %>