//
//= require jquery
//= require jquery-ui
//= require jquery_ujs
//= require lib/remotipart/jquery.remotipart

j = jQuery.noConflict();

j(document).ready(function(){

    j("input[type=file]").wrap("<div class='file_wrapper'></div>").after("<button><%= "Go fix I18n" %></button><span class='just_uploaded_file_name'></span>");
    j("input[type=file]").wrap("<div class='file'></div>");
    j("input[type=file].with_file_name_label").live("change", function(){
        if(j(this).val() == ""){
            j(this).parents(".file_wrapper").find(".just_uploaded_file_name").html("");
        } else{
            var files = this.files;
            for(var file in files){
                if (files[file].hasOwnProperty("type")){
                    j(this).parents(".file_wrapper").find(".just_uploaded_file_name").html(files[file].name);
                }
            }
        }
    });

    j("html").click(function(e){
        autoHiding(e, "signin_window");
        autoHiding(e, "stores_list");
    });

    j("#stores_list_toggler").click(function(){
        j("#stores_list").toggle();
    });

    j("#store_name").keyup(function(){
        if (j(this).val().length == 30){
            return false
        }
        j("#store_domain").val(this.value.replace(/[ -]/g, '_').replace(/[`~!@#$%^&*()+=|?.,<>]/g, '').toLowerCase());
    });


    j(".flash span").click(function(){
        j(this).parent(".flash").remove();
    });
});

//functions

function winHeight() {
  return window.innerHeight || (document.documentElement || document.body).clientHeight;
}

function toggleSigninWindow(){
    j("#signin_window").toggle();
}

function autoHiding(e, id){
    if(j("#" + id).css("display") != "none"){
        if (!hasParent(e.target, id) && e.target.id != id && e.target.id != id + "_toggler") {
            j('#' + id).hide();
        }
    }
}

function hasParent(element, parentId){
    var parentsId = j(element).parents().map(function(){return this.id}).get();
    var isParent = false;
    for(var id in parentsId){
        if(parentsId[id] != parentId) continue
        isParent = true;
    }
    return isParent;
}
