/*
//= require static
*/

.cleaner { clear: both }
.float_l { float: left }
.float_r { float: right }
.center { text-align: center;}

#header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  box-shadow: #9acd32 0 1px 15px;
  background-color: #9acd32;
  #stores_menu {
    float: left;
    margin: 8px;
    border-radius: 5px;
    width: 750px;
    a{
      color: #d6d6d6;
      border-left: 2px dotted green;
      margin-right: 3px;
      margin-left: 3px;
      padding-left: 6px;
      &:hover {
          color: white;
      }
      &:first-child {
          border-left: none;
      }
    }
  }
  #header_menu{
    margin: 8px;
    float: right;
    #change_locale_form{
      width: 100px;
      padding: 0;
      display: inline-block;
      select {
        margin: 0;
        cursor: pointer;
        height: 25px;
        background-color: #b4b390;
        color: #6e6f50;
        border-radius: 3px;
        border: none;
      }
    }
    a{
      color: #d6d6d6;
      border-left: 2px dotted green;
      margin-right: 3px;
      margin-left: 3px;
      padding-left: 6px;
      &:hover{
        color: white;
      }
    }
  }
}

#main {
  margin: auto;
  width: 800px;
  min-height: 400px;
  #content {
    margin: 15px 0;
    box-shadow: #6e6f50 0px 0px 5px;
    width: 800px;
    background: #f7f7f7;
    padding: 20px 15px;
  }
}

#footer {
  width: 100%;
  text-align: center;
  background: #bdcec7;
  font-size: 0.7em;
  line-height: 1em;
  padding: 3px;
  border-top: 1px solid #505865;
  background: -moz-linear-gradient(top, rgb(218, 217, 175) 0%, rgb(255, 255, 255) 100%);
  background: -webkit-linear-gradient(top, rgb(218, 217, 175) 0%, rgb(255, 255, 255) 100%);
}

#signin_window{
  width: 183px;
  display: none;
  text-align: left;
  position: fixed;
  top: 53px;
  right: 5px;
  padding: 10px;
  z-index: 100;
  background-color: #9acd32;
  box-shadow: #9acd32 0 0 15px;
  border: 1px solid #CCC;
  border-radius: 10px;
  text-shadow: #121212;
  opacity: 0.85;
  p{
    font-size: 0.8em;
  }
  .field  input{
    width: 160px;
  }
  a:hover{
    color: #111;
  }
}

.big_green_button{
  padding: 13px;
  margin: 50px;
  background-color: #88ca4b;
  color: white;
  text-shadow: #333333 1px 1px 1px;
  font-weight: bold;
  border-radius: 4px;
  &:hover{
    background-color: #6ca63e;
    color: #ffffff;
  }
}

#store_managing_menu{
  border-bottom: 2px solid #9acd32;
  padding-bottom: 7px;
  margin-bottom: 5px;
  a{
    font-family: verdana;
    border-left: 1px dotted #9acd32;
    padding: 4px;
    &:first-child{
      border-left: none;
    }
  }
}

#store_title{
  color: #696969;
  font-weight: bolder;
  font-size: 0.8em;
}

.form_fields{
  float: left;
  width: 50%;
}

.error_messages{
  float: left;
  width: 50%;
}
.product_image{
  padding: 5px;
  min-height: 150px;
  max-width: 150px;
}
.product_title{
  font-weight: bold;
  font-size: 1.2em;
  color: #556b2f;
}
.product_desc{

}
.product_price{
  font-weight: bolder;
  color:#2e8b57;
}

.add_item{
  margin: 5px;
  font-weight: bold;
  font-size: 1.3em;
  color: #006400;
  border-radius: 2px;
  border: 1px solid green;
  background-color: #90ee90;
  height: 20px;
  width: 20px;
  text-align: center;
  &:hover{
    color: #556b2f;
    border-color: #556b2f;
    background-color: #dfe965;
  }
}

.remove_item{
  margin: 5px;
  font-weight: bold;
  font-size: 1.3em;
  color: #641413;
  border-radius: 2px;
  border: 1px solid #80413e;
  background-color: #ee807e;
  height: 20px;
  width: 20px;
  text-align: center;
  &:hover{
    color: #494537;
    border-color: #494537;
    background-color: #bdb73e;
  }
}

.edit_item{
  margin: 5px;
  font-weight: bold;
  padding-top: 4px;
  font-size: 0.6em;
  color: #191e64;
  border-radius: 2px;
  border: 1px solid #454880;
  background-color: #9cc3ee;
  height: 20px;
  width: 20px;
  text-align: center;
  &:hover{
    color: #808080;
    border-color: #808080;
    background-color: #c0c0c0;
  }
}

.home_store_box{
  text-align: center;
  color: #4682b4;
  font-size: 1.1em;
  font-weight: bolder;
  float: left;
  height: 190px;
  width: 170px;
  margin: 11px;
  padding: 7px 2px;
  &:hover{
    box-shadow: 0 0 4px #c7e1ab;
    background-color: #f5f5f5;
  }
}

