/*
//= require static
*/

.cleaner { clear: both }
.float_l { float: left }
.float_r { float: right }
.center { text-align: center;}

#header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3px;
  height: 40px;
  background-color: #505865;
  #header_menu{
    margin: 8px;
    float: right;
    #change_locale_form{
      width: 100px;
      padding: 0;
      display: inline-block;
    }
    a{
      color: #d6d6d6;
      margin-right: 3px;
      margin-left: 3px;
      &:hover{
        color: white;
      }
    }
  }
}

#main {
  margin: auto;
  width: 800px;
  #sidebar {
    width: 30%;
    float: left;
    background-color: #dad9af;
  }
  #content {
    width: 70%;
    float: left;
    background: #f0f0f0;
    padding: 14px;
  }
}

#footer {
  width: 100%;
  text-align: center;
  background: #bdcec7;
}

#signin_window{
  width: 183px;
  display: none;
  text-align: left;
  position: fixed;
  top: 45px;
  right: 5px;
  padding: 10px;
  z-index: 100;
  background-color: #5e95b2;
  border: 1px solid #CCC;
  border-radius: 10px;
  text-shadow: #121212;
  opacity: 0.85;
  p{
    font-size: 0.8em;
  }
  .field  input{
    width: 160px;
  }
}

